@media screen and (max-width: $mobile-max-width) {
  #projects {
    .project {

      .caption, .text-inner {
        display: inline-block;
        vertical-align: top;
      }

      .caption {
        width: 30%;
        img {
          max-width: 100%;
          padding-right: 15px;
        }
      }

      .text-inner {
        width: 70%;
      }

      &:hover {
        color: $gray-dark;
      }
    }
  }
}