@media screen and (max-width: $mobile-max-width) {
  .container {
    width: 100%;
  }

  .top-nav-mobile {
    height: 50px;
    position: fixed;
    top: -50px;
    width: 100%;
    z-index: 10;
    transition: top .3s, opacity .3s;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;

    &.open {
      height: 100%;
    }

    .inner {
      transition: height .5s;
      background: $purple;
      height: 50px;
      padding: 15px;
      font-family: MyriadProBold;
      color: white;
      text-align: center;
      text-transform: uppercase;
      .title {
        height: 20%;
        transition: all .5s;
        font-size: 1.2em;
        cursor: pointer;
      }

      ul {
        font-size: 1.4em;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        transition: height .5s, opacity .3s;
        height: 0;
        opacity: 0;
        display: none;
        li {
          position: relative;
          height: 20%;
          a {
            color: white;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
            transition: border .3s;

            &.active, &:active, &:hover {
              border-bottom-color: white;
            }
          }
        }
      }
      &.open {
        height: 60%;
        .title {
          font-size: 1.8em;
        }
        ul {
          height: 80%;
          opacity: 1;
        }
      }
    }

    svg {
      width: 100%;
      fill: $purple;
      display: none;
    }
  }

  #main-image h1 {
    font-size: 3em;
    padding-top: 60px;
  }

   #main .article-container {
    background-color: $purple;
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    .ragged-edge {
      margin: 0 -15px;
      &.bottom {
        bottom: 0;
        top: initial;
      }
    }
  }

  #main {
    .ragged-edge.top img {
      width: 200%;
      right: 0;
    }
    h2 {
      color: $purple;
    }
    article {
      color: white;
      .text {
        width: 100%;
      }
      aside {
        width: 100%;
        position: relative;
        padding-left: 0;
      }
      aside.quote {
        margin: 30px 0;

        .inner {
          border: 0;
          border-left: 5px solid white;
          padding: 0 0 0 20px;
          font-size: 1.8em;
        }
      }

      aside.caption {
        margin: -10px 0 20px 0;
        .inner {
          color: white;
          border: 0;
        }
      }
    }

    h2 {
      padding: 0;
      margin-top: 30px;
      &:before {
        display: none;
      }
    }

    .slideshow {
      overflow-x: auto;
      margin-bottom: 20px;
      .inner {
        width: 500px;
        img {
          margin: 0;
        }
      }
    }
  }

  #sub-header{
    .project-logo {
      width: 90px;
      bottom: 50px;
    }
    .project-title {
      font-size: 3.5em;
      margin-left: 120px;
      bottom: 55px;
    }
    .ragged-edge img {
      width: 300%;
      right: 0;
    }
  }
}