$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


// variables
$images-path: "../images";
$fonts-path: "./fonts";

$purple: #515174;
$purple-dark: #212D39;
$mobile-max-width: 768px;

@import "font-faces.scss";
@import "navigation.scss";
@import "projects.scss";
@import "card.scss";

.container {
  max-width: 800px;
}

#main-image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;

  &.home-image {
    background-image: url(#{$images-path}/home-bg.png);
  }

  &.project-image {
    background-image: url(#{$images-path}/project-bg.png);
    background-position: bottom right;
  }

  h1 {
    color: white;
    font-weight: normal;
    font-size: 5em;
    text-align: center;
    margin: 0;
    padding-top: 200px;
    font-family: MyriadProBlack;
    text-shadow: 2px 2px 0 rgba(0,0,0,.3);
  }
}

#main {
  position: relative;
  background: white;

  .ragged-edge {
    position: absolute;
    top: 0px;
    width: 100%;

    img {
      max-height: 150px;
      width: 100%;
      position: absolute;
      bottom: 0px;
    }
  }

  .intro {
    font-size: 1.7em;
    font-family: AvenirRoman;
    margin: 50px 0;

    &:first-letter {
      float: left;
      font-size: 3em;
      line-height: 0.8;
      margin-right: 5px;
      margin-top: 12px;
    }

    b {
      font-weight: normal;
      font-family: AvenirBlack;
    }
  }

  h2 {
    font-weight: normal;
    font-family: MyriadProBlack;
    text-transform: uppercase;
    font-size: 1.6em;
    position: relative;
    padding-top: 15px;
    margin: 50px 0 30px 0;

    &:before {
      content: '';
      width: 200px;
      height: 3px;
      background: #CCCCCC;
      position: absolute;
      top: 0;
    }
  }

  h3.link {
    font-weight: normal;
    font-family: MyriadProBlack;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 1.4em;
    display: inline-block;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: #333;
    }

    a {
      color: #333;
      text-decoration: none;
    }
  }

  article {
    position: relative;

    .text {
      font-family: ArnoProRegular;
      font-size: 1.5em;
      width: 70%;

      p {
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    aside {
      width: 30%;
      right: 0;
      position: absolute;
      padding-left: 30px;

      &.quote .inner {
        font-family: MyriadProBold;
        font-size: 1.4em;
        border: 5px solid #333;
        border-width: 5px 0;
        line-height: 1;
        padding: 8px 0;
      }

      &.caption .inner {
        font-family: MyriadProItalic;
        font-size: 1.2em;
        border-top: 5px solid #666;
        color: #666;
        line-height: 1;
        padding-top: 8px
      }
    }
  }
}

#sub-header {
  position: relative;
  top: 0;

  .ragged-edge {
    opacity: .5;
    position: absolute;
    top: 0px;
    width: 100%;

    img {
      max-height: 150px;
      width: 100%;
      position: absolute;
      bottom: 0px;
    }
  }

  .me {
    position: absolute;
    top: 0px;

    img {
      max-height: 350px;
      position: absolute;
      bottom: 0px;
      margin-left: -60px;
    }
  }

  .tagline {
    position: absolute;
    bottom: 0px;
    padding: 0;
    margin-bottom: 70px;

    li {
      background: #212D39;
      color: white;
      display: inline-block;
      font-size: 2em;
      font-family: AvenirMediumOblique;
      margin-bottom: 2px;
      line-height: 1;
      padding: 0 5px;
    }
  }

  .project-logo {
    position: absolute;
    bottom: 40px;
    width: 120px;
    border-radius: 120px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  }

  .project-title {
    position: absolute;
    bottom: 45px;
    margin-left: 150px;
    font-size: 5em;
    font-family: MyriadProBlack;
    text-shadow: 2px 2px 0 rgba(0,0,0,.3);
    color: white;
  }
}

.footer-image {
  margin-top: 50px;
  width: 100%;
}

@import "mobile.scss";
@import "mobile-projects.scss";
@import "mobile-card.scss";